.example-container {
    width: 100%;
    height: 100vh;
  }
  
  .example-sidenav-content {
    height: 100%;
    padding: 2rem;
  }
  
  .example-sidenav {
    padding: 20px;
    background-color: rgb(229, 241, 252);
  }

  .spacer {
    flex: 1 1 auto;
  }

  .usuario{
    color: #727272;
    font-weight: bold;
    font: size 0.4em;
  }

  .mat-toolbar{
    background-color: rgb(215, 233, 250);
  }
  