<mat-toolbar class="mat-toolbar">
    <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Escuela de cocina</span>
    <span>{{title}}</span>
    <span class="spacer"></span>
    <label *ngIf="authUser | async; let user" class="usuario">
      {{ user.name }}
    </label>
  </mat-toolbar>
  
<!-- SIDENAV -->
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <app-nav-menu />
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
  