<h1>Clases del curso {{ nombre }} </h1> 

<ng-container *ngIf="isLoading; else notLoading">
  <p>Cargando, por favor espere...</p>
</ng-container>

<ng-template #notLoading>
  <form *ngIf="(authUser$ | async)?.role === 'admin'" [formGroup]="claseForm" (ngSubmit)="onSubmit()" >
    <div class="row">
        <div class="col-4">
          <mat-form-field class="w-100">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput />
            <mat-error *ngIf="claseForm.controls['nombre'].invalid && (claseForm.controls['nombre'].dirty || claseForm.controls['nombre'].touched)">
              El nombre es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-8">
          <mat-form-field class="w-100">
            <mat-label>Descripcion</mat-label>
            <input formControlName="descripcion" matInput />
          </mat-form-field>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <button type="submit" mat-button>Guardar</button>
        </div>
    </div> 
  </form>

  <app-clases-table (editClase)="onEditClase($event)" (deleteClase)="onDeleteClase($event)" [dataSource]="clases" />

  <div class="col-12 d-flex justify-content-center">
    <button (click)="volverACursos()" mat-button>
      Volver a Cursos
    </button>
  </div>
  
</ng-template>  